datacenter = "dc1"

data_dir = "/opt/nomad/data"
bind_addr = "{{ ansible_eth1.ipv4.address }}"

server {
  enabled = true
  bootstrap_expect = 1
}

advertise {
  http = "{{ ansible_eth1.ipv4.address }}"
  rpc  = "{{ ansible_eth1.ipv4.address }}"
  serf = "{{ ansible_eth1.ipv4.address }}"
}
